version: '3'

services:
  backend_python:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: backend_python
    ports:
      - "8000:8000"

  frontend:
    image: nginx:alpine
    container_name: nginx_frontend
    ports:
      - "80:80"
    volumes:
      - ./nginx/default.conf:/etc/nginx/conf.d/default.conf:ro

